# Created by https://www.gitignore.io
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
notes.md
*.log
*.db
*a3ab7197d0.json
cache/overpass-*
*firebase.json

# Thumbnails
._*
celerybeat-*
*.lock

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.DS_Store

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
media/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
.vscode/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
run.sh

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
virtualenv/
# PyBuilder
target/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
django-restql-repo
.env
db.sqlite3
.credentials
survey/data/*
notebook/*
migrations
surveyjs-react-client/*
# database.json