Django>=4
django-extensions
djangorestframework
sorl-thumbnail
python-dotenv
django-import-export
humanize
django-seed
django-filter
dj-rest-auth>=5.0.1
django-allauth>=0.58.0
django-cors-headers
pyotp
dotty-dict
phonenumbers
djangorestframework-guardian
psycopg2-binary
django-request-logging
django-reset-migrations
pandas
django-restql
django-admin-interface
django-notifications-hq
djangorestframework-simplejwt
drf-yasg[validation]